.App-header {
  text-align: left;
  background-color: #222;
  height: 40px;
  padding: 1px;
  color: white;
  font-size: 0.9em;
}

.App-title {
  font-size: 1.0em;
}

.App-intro {
  font-size: large;
}

.loading {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

a.header {
  color: white;
  text-decoration: underline;
}

button.modal {
  position: absolute;
  right: 2px;
  top: 2px;
}